.vl {
  border-left: 1px solid #ff6600;
  height: 15px;
}
.hl {
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border-top: 15px solid #262626;
}
.sidebar-controls {
  width: 18vh;
  position: fixed;
  z-index: 10;
}
.content-controls {
  width: 82vw;
  margin-left: 20vw;
}
.inc-content-controls {
  width: 92vw;
  margin-left: 7vw;
}
