.vl {
  border-left: 1px solid #ff6600;
  height: 15px;
}
.hl {
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border-top: 15px solid #262626;
}
.sidebar-controls {
  width: 16vh;
  position: fixed;
  top: 0;
  z-index: 10;
}
.inc-sidebar-controls {
  width: 8vh;
  position: fixed;
  top: 0;
  z-index: 10;
}
.content-controls {
  width: 84vw;
  margin-left: 20vw;
}
.inc-content-controls {
  width: 86vw;
  margin-left: 12vw;
}
/* @media only screen and (max-width: 800px) {
  .sidebar-controls {
    width: 6vw;
  }
  .content-controls {
    width: 94vw;
    margin-left: 10vw;
  }
} */
