.vl {
  border-left: 1px solid #ff6600;
  height: 15px;
}
.swiper-slide {
  width: 100;
}
.sidebar-controls {
  width: 16vh;
  position: fixed;
  top: 0;
  z-index: 10;
}
.inc-sidebar-controls {
  width: 4vh;
  position: fixed;
  top: 0;
  z-index: 10;
}
.content-controls {
  width: 84vw;
  margin-left: 19vw;
}
.inc-content-controls {
  /* width: 86vw; */
  margin-left: 6vw;
}
.css-1wvake5.ps-collapsed {
  width: 70px;
  min-width: 70px;
}
