.vl {
  border-left: 1px solid #ff6600;
  height: 15px;
}
/* .not-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
} */
.sidebar-controls {
  width: 16vh;
  position: fixed;
  top: 0;
  z-index: 10;
}
.inc-sidebar-controls {
  width: 8vh;
  position: fixed;
  top: 0;
  z-index: 10;
}
.content-controls {
  width: 84vw;
  margin-left: 19vw;
}
.inc-content-controls {
  /* width: 86vw; */
  margin-left: 6vw;
}
/* @media only screen and (max-width: 800px) {
  .sidebar-controls {
    width: 6vw;
  }
  .content-controls {
    width: 94vw;
    margin-left: 10vw;
  }
} */
